.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 320px;
  background-color: aliceblue;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1em;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #253428;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
