a {
    text-decoration: none;
}

/* Estilos do cabeçalho e da barra de navegação */
header {
    background-color: #d9b99f;
    padding-inline: 16px;
}

/* Estilos da barra de navegação */
.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Estilos da lista de navegação */
.nav-list {
    list-style: none;
    display: flex;
    gap: 32px;
}

/* Estilos dos links da navegação */
.nav-list li a {
    font-size: 20px;
    color: #a75f37;
    padding-block: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

/* Efeito hover nos links */
.nav-list li a:hover {
    color: #7a958f;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    border-top: 3px solid rgb(255, 255, 255);
}
/* Linhas do hamburger */
.hamburger::before,
.hamburger::after {
    content: "  ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    position: relative;
    transition: transform 0.3s, ;
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    /* Estilos iniciais do menu */
    .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: bisque;
    clip-path: circle(10px at 90% -15%);
    transition: 0.7s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    }

    /* Estilos iniciais dos links */
    .nav-list li a {
        font-size: 24px;
        opacity: 0.7;
    }

    /* Hover nos itens da lista em hamburguer */
    .nav-list li a:hover {
        color: #7a958f;
    }

    
    /* Transições em cascata */
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6;
    }
    

    /* Estilo dos links ativos */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all; 
    }
    .nav.active .nav-list a {
        opacity: 1;
    }

    /* Estilos do hamburger ativo */
    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    /* Animação das linhas do hamburger */
    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        margin-top: -7px;
    }
}


