/* Importando outros CSS */
@import url(navbar.css);
@import url(cards.css);
@import url(formulario.css);
@import url(variables.css);

/* Importação das fontes utilizadas via Google API */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Patrick+Hand+SC&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--fonte-principal), cursive;
  background-color: var(--cor-neutra-1);
  color: #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro {
  max-width: 1200px;
}

h1 {
  margin-top: 20px;
  font-family: var(--fonte-titulo);
  font-size: var(--fs-xl);
}

.contato {
  font-size: var(--fs-m);
  padding-bottom: 30px;
}

footer {
  padding-top: 0px;
  font-size: var(--fs-m);
}

.qr-code {
    padding: 40px;
}   